In [21]:
import pandas as pd
df_train = pd.read_csv('./data/train.csv')
df_train.head(5)

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,SulphurDioxide_sensor_azimuth_angle,...,Cloud_cloud_top_height,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle,emission
0,ID_-0.510_29.290_2019_00,-0.51,29.29,2019,0,-0.000108,0.603019,-0.000065,0.255668,-98.593887,...,3664.436218,61085.809570,2615.120483,15.568533,0.272292,-12.628986,35.632416,-138.786423,30.752140,3.750994
1,ID_-0.510_29.290_2019_01,-0.51,29.29,2019,1,0.000021,0.728214,0.000014,0.130988,16.592861,...,3651.190311,66969.478735,3174.572424,8.690601,0.256830,30.359375,39.557633,-145.183930,27.251779,4.025176
2,ID_-0.510_29.290_2019_02,-0.51,29.29,2019,2,0.000514,0.748199,0.000385,0.110018,72.795837,...,4216.986492,60068.894448,3516.282669,21.103410,0.251101,15.377883,30.401823,-142.519545,26.193296,4.231381
3,ID_-0.510_29.290_2019_03,-0.51,29.29,2019,3,NaN,NaN,NaN,NaN,NaN,...,5228.507736,51064.547339,4180.973322,15.386899,0.262043,-11.293399,24.380357,-132.665828,28.829155,4.305286
4,ID_-0.510_29.290_2019_04,-0.51,29.29,2019,4,-0.000079,0.676296,-0.000048,0.121164,4.121269,...,3980.598120,63751.125781,3355.710107,8.114694,0.235847,38.532263,37.392979,-141.509805,22.204612,4.347317

In [12]:
df_test = pd.read_csv('./data/test.csv')
df_test.head()

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,SulphurDioxide_sensor_azimuth_angle,...,Cloud_cloud_top_pressure,Cloud_cloud_top_height,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle
0,ID_-0.510_29.290_2022_00,-0.51,29.29,2022,0,NaN,NaN,NaN,NaN,NaN,...,36022.027344,8472.313477,41047.937500,7472.313477,7.935617,0.240773,-100.113792,33.697044,-133.047546,33.779583
1,ID_-0.510_29.290_2022_01,-0.51,29.29,2022,1,0.000456,0.691164,0.000316,0.000000,76.239196,...,48539.737242,6476.147323,54915.708579,5476.147161,11.448437,0.293119,-30.510319,42.402593,-138.632822,31.012380
2,ID_-0.510_29.290_2022_02,-0.51,29.29,2022,2,0.000161,0.605107,0.000106,0.079870,-42.055341,...,34133.080469,8984.795703,39006.093750,7984.795703,10.753179,0.267130,39.087361,45.936480,-144.784988,26.743361
3,ID_-0.510_29.290_2022_03,-0.51,29.29,2022,3,0.000350,0.696917,0.000243,0.201028,72.169566,...,50854.991076,6014.724059,57646.368368,5014.724115,11.764556,0.304679,-24.465127,42.140419,-135.027891,29.604774
4,ID_-0.510_29.290_2022_04,-0.51,29.29,2022,4,-0.000317,0.580527,-0.000184,0.204352,76.190865,...,46594.685145,6849.280477,52896.541873,5849.280394,13.065317,0.284221,-12.907850,30.122641,-135.500119,26.276807

In [13]:
submission = pd.read_csv('./data/sample_submission.csv')
submission.head()

       ID_LAT_LON_YEAR_WEEK  emission
0  ID_-0.510_29.290_2022_00     81.94
1  ID_-0.510_29.290_2022_01     81.94
2  ID_-0.510_29.290_2022_02     81.94
3  ID_-0.510_29.290_2022_03     81.94
4  ID_-0.510_29.290_2022_04     81.94

In [9]:
submission.shape

(24353, 2)

In [22]:
df_train.shape

(79023, 76)

In [23]:
df_train.isna().sum()

ID_LAT_LON_YEAR_WEEK            0
latitude                        0
longitude                       0
year                            0
week_no                         0
                             ...
Cloud_sensor_azimuth_angle    484
Cloud_sensor_zenith_angle     484
Cloud_solar_azimuth_angle     484
Cloud_solar_zenith_angle      484
emission                        0
Length: 76, dtype: int64

In [27]:
df_train_phase1 = df_train

In [28]:
# Replace nan values with median
df_train_phase1.Cloud_sensor_azimuth_angle.fillna(
    df_train_phase1.Cloud_sensor_azimuth_angle.median(), inplace=True)
df_train_phase1.Cloud_sensor_zenith_angle.fillna(
    df_train_phase1.Cloud_sensor_zenith_angle.median(), inplace=True)
df_train_phase1.Cloud_solar_azimuth_angle.fillna(
    df_train_phase1.Cloud_solar_azimuth_angle.median(), inplace=True)
df_train_phase1.Cloud_solar_zenith_angle.fillna(
    df_train_phase1.Cloud_solar_zenith_angle.median(), inplace=True)

In [29]:
df_train_phase1.isna().sum()

ID_LAT_LON_YEAR_WEEK          0
latitude                      0
longitude                     0
year                          0
week_no                       0
                             ..
Cloud_sensor_azimuth_angle    0
Cloud_sensor_zenith_angle     0
Cloud_solar_azimuth_angle     0
Cloud_solar_zenith_angle      0
emission                      0
Length: 76, dtype: int64

In [40]:
def get_non_numeric_columns(df):
    non_numeric_columns = []
    for column in df.columns:
        if not pd.api.types.is_numeric_dtype(df[column]):
            non_numeric_columns.append(column)
    return non_numeric_columns

get_non_numeric_columns(df_train_phase1)

['ID_LAT_LON_YEAR_WEEK']

In [36]:
# get Year_month, lat, lon from ID_LAT_LON_YEAR_WEEK

CarbonMonoxide_solar_azimuth_angle                         float64
CarbonMonoxide_solar_zenith_angle                          float64
NitrogenDioxide_NO2_column_number_density                  float64
NitrogenDioxide_tropospheric_NO2_column_number_density     float64
NitrogenDioxide_stratospheric_NO2_column_number_density    float64
NitrogenDioxide_NO2_slant_column_number_density            float64
NitrogenDioxide_tropopause_pressure                        float64
NitrogenDioxide_absorbing_aerosol_index                    float64
NitrogenDioxide_cloud_fraction                             float64
NitrogenDioxide_sensor_altitude                            float64
dtype: object

In [121]:
import re

def extract_info_from_string(input_string):
    # Define the regular expression pattern
    pattern = r'ID_(-?\d+\.\d+)_(\d+\.\d+)_(\d+)_(\d+)'

    # Use the re.search() function to find the first occurrence of the pattern in the input string
    match = re.search(pattern, input_string)

    # Check if the pattern was found and extract the matched groups
    if match:
        lat = float(match.group(1))
        lon = float(match.group(2))
        year = int(match.group(3))
        week = int(match.group(4))
        return lat, lon, year, week
    else:
        return None

In [122]:
df_train_phase2 = df_train_phase1[['ID_LAT_LON_YEAR_WEEK','emission']]

In [123]:
df_train_phase2.shape

(79023, 2)

In [124]:
extract_info_from_string('ID_-0.510_29.290_2019_00')[3]

0

In [125]:
df_train_phase2['Year'] = df_train_phase2.ID_LAT_LON_YEAR_WEEK.apply(lambda x : extract_info_from_string(x)[2])

/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/4277847899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2['Year'] = df_train_phase2.ID_LAT_LON_YEAR_WEEK.apply(lambda x : extract_info_from_string(x)[2])

In [126]:
df_train_phase2['Lat'] = df_train_phase2.ID_LAT_LON_YEAR_WEEK.apply(lambda x : extract_info_from_string(x)[0])
df_train_phase2['Lon'] = df_train_phase2.ID_LAT_LON_YEAR_WEEK.apply(lambda x : extract_info_from_string(x)[1])
df_train_phase2['Week'] = df_train_phase2.ID_LAT_LON_YEAR_WEEK.apply(lambda x : extract_info_from_string(x)[3])

/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/570370210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2['Lat'] = df_train_phase2.ID_LAT_LON_YEAR_WEEK.apply(lambda x : extract_info_from_string(x)[0])
/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/570370210.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2['Lon'] = df_train_phase2.ID_LAT_LON_YEAR_WEEK.apply(lambda x : extract_info_from_string(x)[1])
/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/570370210.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2['Week'] = df_train_phase2.ID_LAT_LON_YEAR_WEEK.apply(lambda x : extract_info_from_string(x)[3])

In [127]:
df_train_phase2.head()

       ID_LAT_LON_YEAR_WEEK  emission  Year   Lat    Lon  Week
0  ID_-0.510_29.290_2019_00  3.750994  2019 -0.51  29.29     0
1  ID_-0.510_29.290_2019_01  4.025176  2019 -0.51  29.29     1
2  ID_-0.510_29.290_2019_02  4.231381  2019 -0.51  29.29     2
3  ID_-0.510_29.290_2019_03  4.305286  2019 -0.51  29.29     3
4  ID_-0.510_29.290_2019_04  4.347317  2019 -0.51  29.29     4

In [128]:
df_train_phase2['Year'] = df_train_phase2['Year'].astype(str)
df_train_phase2['Week'] = df_train_phase2['Week'].astype(str)

/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/4166161291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2['Year'] = df_train_phase2['Year'].astype(str)
/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/4166161291.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2['Week'] = df_train_phase2['Week'].astype(str)

In [129]:
df_train_phase2.head(12)

        ID_LAT_LON_YEAR_WEEK  emission  Year   Lat    Lon Week
0   ID_-0.510_29.290_2019_00  3.750994  2019 -0.51  29.29    0
1   ID_-0.510_29.290_2019_01  4.025176  2019 -0.51  29.29    1
2   ID_-0.510_29.290_2019_02  4.231381  2019 -0.51  29.29    2
3   ID_-0.510_29.290_2019_03  4.305286  2019 -0.51  29.29    3
4   ID_-0.510_29.290_2019_04  4.347317  2019 -0.51  29.29    4
5   ID_-0.510_29.290_2019_05  4.310819  2019 -0.51  29.29    5
6   ID_-0.510_29.290_2019_06  4.269334  2019 -0.51  29.29    6
7   ID_-0.510_29.290_2019_07  4.251361  2019 -0.51  29.29    7
8   ID_-0.510_29.290_2019_08  4.281937  2019 -0.51  29.29    8
9   ID_-0.510_29.290_2019_09  4.352933  2019 -0.51  29.29    9
10  ID_-0.510_29.290_2019_10  4.305424  2019 -0.51  29.29   10
11  ID_-0.510_29.290_2019_11  4.237399  2019 -0.51  29.29   11

In [130]:
# Concatenate 'Year' and 'Week' with a specific day (e.g., Monday) to create a full date string
df_train_phase2['Year_Week'] = df_train_phase2['Year'] + '-W' + df_train_phase2['Week'] + '-1'  # 1 represents Monday

# Convert the 'Year_Week' string to a pandas DateTime object
df_train_phase2['Date'] = pd.to_datetime(df_train_phase2['Year_Week'], format='%Y-W%U-%w')

# Drop the temporary 'Year_Week' column if you don't need it anymore
df_train_phase2.drop(columns=['Year_Week'], inplace=True)

/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/1053853445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2['Year_Week'] = df_train_phase2['Year'] + '-W' + df_train_phase2['Week'] + '-1'  # 1 represents Monday
/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/1053853445.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2['Date'] = pd.to_datetime(df_train_phase2['Year_Week'], format='%Y-W%U-%w')
/var/folders/bt/yzv722jd4ln6fj7873tf5mn00000gn/T/ipykernel_65927/1053853445.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_phase2.drop(columns=['Year_Week'], inplace=True)

In [131]:
df_train_phase2.head()

       ID_LAT_LON_YEAR_WEEK  emission  Year   Lat    Lon Week       Date
0  ID_-0.510_29.290_2019_00  3.750994  2019 -0.51  29.29    0 2018-12-31
1  ID_-0.510_29.290_2019_01  4.025176  2019 -0.51  29.29    1 2019-01-07
2  ID_-0.510_29.290_2019_02  4.231381  2019 -0.51  29.29    2 2019-01-14
3  ID_-0.510_29.290_2019_03  4.305286  2019 -0.51  29.29    3 2019-01-21
4  ID_-0.510_29.290_2019_04  4.347317  2019 -0.51  29.29    4 2019-01-28

In [132]:
df_train_phase2.set_index('Date', inplace=True)

In [133]:
from sklearn.model_selection import train_test_split
test_size = 0.2  # 20% of data for testing, you can adjust this as needed
train_data, test_data = train_test_split(df_train_phase2['emission'], test_size=test_size, shuffle=False)

# Print the lengths of training and testing sets
print("Training data length:", len(train_data))
print("Testing data length:", len(test_data))

Training data length: 63218
Testing data length: 15805

In [136]:
train_data.head(2)

Date
2018-12-31    3.750994
2019-01-07    4.025176
Name: emission, dtype: float64

In [ ]:
import folium

map_object = folium.Map(location=[df_train_phase2['Lat'].iloc[0], df_train_phase2['Lon'].iloc[0]], zoom_start=5)

# Add markers for each row in the DataFrame
for index, row in df_train_phase2.iterrows():
    folium.Marker(location=[row['Lat'], row['Lon']]).add_to(map_object)

# Save the map to an HTML file or display it directly
map_object